@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
:root {
  --colorBlue: #466DBD;
  --colorRed: #8F0A1E;
  --colorWhite: #EAEBF0;
  --colorBlack: #1E1E20;
  --colorBlue2: #5274A0;
  --textColor: #2F2F2F;
  --secondTextColor: #464646;
  --bgColor: #fff;
  --bgBody: #EEEEEE;
  --colorShadow: #dedede; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: var(--bgBody);
  font-family: 'Rubik', sans-serif;
  color: var(--secondTextColor); }

a {
  text-decoration: none; }

li {
  list-style: none; }

img {
  width: 100%;
  display: block; }

.title {
  color: var(--textColor); }

.wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 960px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  background-color: var(--bgColor);
  box-shadow: 0 0 5px 0 var(--colorShadow); }

.card__img {
  background-image: linear-gradient(to left, var(--colorBlue), #1c2c4e);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0; }

.card__img--img {
  width: 80%;
  transform: rotate(-10deg); }

.card__content {
  padding: 1em;
  font-size: .9em; }

.card__divider {
  padding: 1em 0;
  border-bottom: 1px solid var(--colorShadow); }

.card__divider:nth-child(5) {
  border-bottom: none; }

.card__content--colors {
  display: flex; }
  .card__content--colors div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: .5em;
    margin-top: .5em;
    cursor: pointer; }
  .card__content--colors .blue {
    background-color: var(--colorBlue); }
  .card__content--colors .red {
    background-color: var(--colorRed); }
  .card__content--colors .white {
    background-color: var(--colorWhite); }
  .card__content--colors .black {
    background-color: var(--colorBlack); }
  .card__content--colors .blue2 {
    background-color: var(--colorBlue2); }

.card__content--sizes {
  display: flex; }
  .card__content--sizes div {
    border-radius: 5px;
    padding: .3em .7em;
    margin-right: .5em;
    margin-top: .5em;
    color: var(--textColor);
    cursor: pointer;
    background-color: var(--colorShadow); }

.card footer {
  display: flex;
  justify-content: space-between; }
  .card footer .btn {
    line-height: 30px;
    background-color: var(--colorBlue);
    padding: 0 3em;
    color: #fff;
    text-transform: uppercase;
    font-size: .9em; }
  .card footer .card__content--price {
    font-size: 1.5em;
    font-weight: 700; }

@media screen and (min-width: 960px) {
  .wrapper {
    margin: 0 auto; }
  .card {
    display: flex; }
  .card__img {
    border-radius: 5px;
    width: 50%;
    box-shadow: -5px 5px 10px var(--colorShadow), -5px -5px 10px var(--colorShadow); }
  .card__img--img {
    width: 100%;
    position: absolute;
    left: -4em;
    bottom: 4em;
    transform: rotate(-20deg); }
  .card__content {
    border-radius: 5px;
    padding: 2em;
    background-color: var(--bgColor);
    box-shadow: 5px 5px 10px var(--colorShadow), 5px -5px 10px var(--colorShadow);
    width: 50%;
    transform: scale(1.2); } }

.color-red {
  background-image: linear-gradient(to left, var(--colorRed), #30030a); }

.color-blue {
  background-image: linear-gradient(to left, var(--colorBlue), #294274); }

.color-white {
  background-image: linear-gradient(to left, var(--colorWhite), #afb2c6); }

.color-black {
  background-image: linear-gradient(to left, var(--colorBlack), black); }

.color-blue2 {
  background-image: linear-gradient(to left, var(--colorBlue2), #2f435d); }
