

:root {
	--colorBlue: #466DBD;
	--colorRed: #8F0A1E;
	--colorWhite: #EAEBF0;
	--colorBlack: #1E1E20;
	--colorBlue2: #5274A0;
	--textColor: #2F2F2F;
	--secondTextColor: #464646;
	--bgColor: #fff;
	--bgBody: #EEEEEE;
	--colorShadow: #ccc;
}

